{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block base_content %}

<ul class="breadcrumb">
  <li><a href="{% url 'book_list' %}">Books</a> <span class="divider">/</span></li>
  <li class="active">{{ object.title }}</li>
</ul>

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <a href="{% url 'book_list' %}" class="btn btn-default" role="button">Cancel</a>
    <button type="submit" class="btn btn-danger" value="Confirm">Delete</button>
</form>

{% endblock base_content %}
